{% extends "index.html" %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Subscribe with RSS" href="/rss.xml" />
{% endblock %}

{% block content %}
  <main class="w3-container w3-margin-mobile">
    <div class="w3-margin">
      {{ section.content | safe }}
    </div>

    {%- if not section.extra.disable_listing %}
    <hr>
      {% for article in section.pages %}
      {% set url = article.permalink -%}
      <div class="w3-margin-mobile w3-row-padding feed-block">
        {%- if article.extra.thumbnail -%}
        {%- set thumbnail = article.extra.thumbnail -%}
        <img class="w3-col s5 m2 feed-img" src="
        {%- if thumbnail is matching("[.](jpg|png|jpeg)$") -%}
        {{ macros::resize_static(path=article.extra.thumbnail) }}
        {%- else -%}
        {{ article.extra.thumbnail }}
        {%- endif -%}
        "/>
        {%- endif %}
        <div class="w3-mobile w3-col s2 feed-tax">
          {%- set tax = article.taxonomies %}
          {% if tax.category %}<div>{{ macros::category(category=tax.category )}}</div>{% endif %}
          {% if tax.authors %}<div>{{ macros::authors(authors=tax.authors )}}</div>{% endif %}
          {% if tax.tags %}<div>{{ macros::tags(tags=tax.tags )}}</div>{% endif %}
          <div class="date">{{ article.date }}</div>
        </div>
        <a href="{{url}}" class="w3-mobile w3-rest feed-preview">
          <h3>{{ article.title }}</h3>
          {%- if article.description -%}<p>{{ article.description }}</p>{%- endif %}
        </a>
      </div>{% endfor %}
    {% endif %}
  </main>
{% endblock content %}
