{% extends "index.html" %}

{% block content %}
<main class="page w3-container w3-content w3-padding-64">
  <div class="breadcrumb">{{ macros::breadcrumb(path=page.components | safe) }}<a class="w3-text-light-blue" href="{{config.extra.content_source}}{{ page.components | join(sep='/') }}.md">.md</a></div>

  {{ macros::taxonomies(taxonomies=page.taxonomies) }}
  <span>{{ macros::translations(resource=page) }}</span>

  {% if page.extra.auto_toc %}{{ macros::toc(toc=page.toc, level=1, depth=page.extra.toc_depth | default(value=6)) }}{% endif %}

  {{ macros::replace_toc(resource=page) | safe }}
</main>
{% endblock content %}
