{% extends "index.html" %}

{#-----
  the following is a quasi duplicate of page.html since section and page are very similar in zola
  https://zola.discourse.group/t/section-vs-page/522
  -----#}
  
{% block content -%}
<main class="page w3-container w3-content w3-padding-64">
  <div class="breadcrumb">{{ macros::breadcrumb(path=section.components | safe) }}/
  {{ macros::sub(section=section | safe) }}</div>

  {# sections do not have taxonomies #}
  {#{ macros::taxonomies(taxonomies=section.taxonomies) }#}

  <div class="lang-menu">  
    {{ macros::translations(resource=section) }}
  </div>

  {% if section.extra.auto_toc %}{{ macros::toc(toc=section.toc, level=1, depth=section.extra.toc_depth | default(value=6)) }}{% endif %}

  {{ macros::replace_toc(resource=section) | safe }}
</main>
{%- endblock content %}